<section class="fstyle">
  <h1>STYLE WE PROVIDED </h1>
  <div class="row">
    <div class="fstyle-col">
      <img src="../../assets/dress3.JPG">
      <h3>Dress</h3>
      <p>A dress is a garment traditionally worn by women or girls consisting of a skirt with an attached bodice (or a matching bodice giving the effect of a one-piece garment). It consists of a top piece that covers the torso and hangs down over the legs. A dress can be any one-piece garment containing a skirt of any length, and can be formal or casual.</p>
      <a class="more-btn" [routerLink]='["/dress"]'>EXPLORE MORE</a>
    </div>

    <div class="fstyle-col">
      <img style="object-fit: cover; height: 43%;" src="../../assets/kurung6.JPG">
      <h3>Baju Kurung</h3>
      <p>Baju Kurung is a traditional costume of Malays and traditionally worn by women in Brunei, Indonesia, Malaysia, Singapore and southern Thailand. This type of traditional costume is the national dress of Brunei and Malaysia. In Indonesia, it is also one of the regional dresses, seen most on the island of Sumatra, where many ethnic Malay and Minangkabau women wear it.</p>
      <a class="more-btn" [routerLink]='["/bajukurung"]'>EXPLORE MORE</a>
    </div>

    <div class="fstyle-col">
      <img src="../../assets/tudung8.png">
      <h3>Hijab</h3>
      <p>Hijab generally refers to headcoverings worn by Muslim women. Many Muslims believe it is obligatory for every female Muslim who has reached the age of puberty to wear a head covering. While such headcoverings can come in many forms, hijab often specifically refers to a cloth wrapped around the head, neck and chest, covering the hair and neck but leaving the face visible.</p>
      <a class="more-btn" [routerLink]='["/hijab"]'>EXPLORE MORE</a>
    </div>
  </div>

</section>
