<body>
  <app-nav-menu></app-nav-menu>
  <main class="container">
    <router-outlet></router-outlet>
  </main>

  <section class="footer" style="background-color: #111; color: white;">
    <h4>About Us</h4>
    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, <br>or randomised words which don't look even slightly believable.
      If you are going to use a passage of Lorem Ipsum,<br> you need to be sure there isn't anything embarrassing hidden in the middle of text
    </p>

    <p>Mohammad Yusril Izani </p>
  </section>
  <style>
    /*----------footer---------*/
    footer{
      background: #111;
    }

    .footer {
      width: 100%;
      text-align: center;
      padding: 30px 0;
    }

    .footer h4 {
      margin-bottom: 25px;
      margin-top: 20px;
      font-weight: 600;
    }

    .footer p{
      color: #777;
      font-size: 14px;
      font-weight: 300;
      line-height: 22px;
      padding: 10px;
    }


  </style>
</body>
<!-------footer---------->


