<section class="fstyle">
  <h1>HIJAB</h1>
  <div class="row">
    <div class="fstyle-col">
      <img src="../../assets/tudung1.jpg"><br><br>
      <a href="https://muslimahclothing.com/?s=tudung&post_type=product&_paged=6" class="more-btn">VIEW MORE ITEMS</a>
    </div>

    <div class="fstyle-col">
      <img src="../../assets/tudung3.jpg"><br><br>
      <a href="https://muslimahclothing.com/?s=tudung&post_type=product&_paged=6" class="more-btn">VIEW MORE ITEMS</a>
    </div>

    <div class="fstyle-col">
      <img src="../../assets/tudung2.jpg"><br><br>
      <a href="https://muslimahclothing.com/?s=tudung&post_type=product&_paged=6" class="more-btn">VIEW MORE ITEMS</a>
    </div>
  </div>

  <div class="row">
    <div class="fstyle-col">
      <img src="../../assets/tudung4.png"><br><br>
      <a href="https://muslimahclothing.com/?s=tudung&post_type=product&_paged=6&_paged=5" class="more-btn">VIEW MORE ITEMS</a>
    </div>

    <div class="fstyle-col">
      <img src="../../assets/tudung5.png"><br><br>
      <a href="https://muslimahclothing.com/?s=tudung&post_type=product&_paged=6&_paged=5" class="more-btn">VIEW MORE ITEMS</a>
    </div>

    <div class="fstyle-col">
      <img src="../../assets/tudung6.png"><br><br>
      <a href="https://muslimahclothing.com/?s=tudung&post_type=product&_paged=6&_paged=5" class="more-btn">VIEW MORE ITEMS</a>
    </div>
  </div>

  <div class="row">
    <div class="fstyle-col">
      <img src="../../assets/tudung7.png"><br><br>
      <a href="https://muslimahclothing.com/?s=tudung&post_type=product&_paged=6" class="more-btn">VIEW MORE ITEMS</a>
    </div>

    <div class="fstyle-col">
      <img src="../../assets/tudung8.png"><br><br>
      <a href="https://muslimahclothing.com/?s=tudung&post_type=product&_paged=6" class="more-btn">VIEW MORE ITEMS</a>
    </div>

    <div class="fstyle-col">
      <img src="../../assets/tudung9.png"><br><br>
      <a href="https://muslimahclothing.com/?s=tudung&post_type=product&_paged=6" class="more-btn">VIEW MORE ITEMS</a>
    </div>
  </div>

  <br>
  <br>
  <br>

  <h1>HIJAB TUTORIAL</h1>
  <div class="row">
    <div class="fstyle-col">
      <video width="530" height="340" controls>
        <source src="../../assets/vid1.MOV">
      </video>
    </div>

    <div class="fstyle-col">
      <video width="530" height="340" controls>
        <source src="../../assets/vid2.MOV">
      </video>
    </div>
  </div>

  <div class="row">
    <div class="fstyle-col">
      <video width="530" height="340" controls>
        <source src="../../assets/vid3.MOV">
      </video>
    </div>

    <div class="fstyle-col">
      <video width="530" height="340" controls>
        <source src="v../../assetsid/vid4.MOV">
      </video>
    </div>
  </div>


  <a class="more-btn"  [routerLink]="['/lifestyle']">BACK TO LIFESTYLE</a>
  <br><br><br><br>
</section>
