<h1 id="tableLabel">Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>


<input [(ngModel)]="deleteId" #ctrl="ngModel" required>

<button (click)="deleteItem()">Delete item</button>


<table class='table table-striped' aria-labelledby="tableLabel">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody *ngIf="bookings.length">
    <<!--tr *ngFor="let booking of bookings">
      <td>{{ booking.id }}</td>
      <td>{{ booking.name }}</td>
      <td>{{ booking.price }}</td>
    </tr>-->
  </tbody>
</table>


