<section class="education">
  <div class="row">
    <div class="edu-col">
      <h1>SKIN TONE
      </h1>
      <p><strong>WHAT ARE DIFFERENT SKIN TONE ?</strong><br>
        The first step to the dreaded question of 'what color suits my skin tone' is to delete the bookmark you made for an online quiz based on a supposedly sophisticated algorithm. There are three different skin tones.<br><br>
        Second, look at your arm. To help identify the best colors for your skin tone and core wardrobe, you need to determine whether your skin has warm undertones, cool undertones, or neutral undertones. If the veins on your wrist are bluer than green, you have cool skin. If it's more green, your skin is warm-toned. If it's hard to tell, you probably have a neutral skin tone.<br><br>
        It is important to note that skin shade (ie pale skin, olive skin or dark skin) does not necessarily determine your skin tone. Men with dark skin can have cool skin, and men with pale skin can have warm skin. And all the other way around.
      </p>
      <p><strong>HOW DO I KNOW MY SKIN TONE ?</strong><br>
        The vein method is the tried-and-true approach most people take to discover their skin tone. Blueish veins indicate cool undertones, whereas green veins mean warm undertones. Neither or both means you likely have neutral skin.
      </p>
    </div>
    <div class="edu-col">
      <img src="img/skintone1.jpg">
    </div>
  </div>

  <div class="row">
    <div class="edu-col">
      <h1>SIZING</h1>
      <p><strong>WHAT ARE THE SIZING THAT FACED MUSLIM WOMEN?</strong><br>
        Many women in the plus-size category lack self-confidence and are very sensitive when it comes to their appearance and shopping experience. Large women also have a high desire to look stylish like their colleagues at the office, but on average they give feedback that it is difficult to feel positive about their physical shape. This problem is often heard but there are various ways to overcome this problem. This problem happens to Muslim women who want to be stylish like ordinary people who have a beautiful and slim body. But many people don't know that there are many women who are large can use the right way to be stylish.
      </p>
      <a href="education.html" class="more-btn">BACK TO ENLIGHTMENT</a>
    </div>
    <div class="edu-col">
      <img src="assets/dress1.JPG">
    </div>
  </div>
</section>

<!-------footer---------->

<section class="footer" style="background-color: #111; color: white;">
  <h4>About Us</h4>
  <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, <br>or randomised words which don't look even slightly believable.
    If you are going to use a passage of Lorem Ipsum,<br> you need to be sure there isn't anything embarrassing hidden in the middle of text
  </p>

  <p>Mohammad Yusril Izani </p>
</section>
