<body>
  <style>
    /*----------fast fashion---------*/
    p{
      color: #777;
      font-size: 14px;
      font-weight: 300;
      line-height: 22px;
      padding: 10px;
    }

    .more-btn {
      display: inline-block;
      text-decoration: none;
      color: white;
      border: 1px solid #f44336;
      padding: 12px 34px;
      font-size: 13px;
      background: #f44336;
      position: relative;
      cursor: pointer;
    }

    .more-btn:hover {
      border: 1px solid #f44336;
      background: #fff;
      color: #f44336;
      transition: 1s;
    }

    .row {
      margin-top: 5%;
      display: flex;
      justify-content: space-between;
    }

    .education {
      width: 80%;
      margin: auto;
      padding-top: 80px;
      padding-bottom: 50px;
    }

    .edu-col{
      flex-basis: 48%;
      padding: 30px 2px;
    }

    .edu-col img {
      background-size: 100%;
      object-fit: cover;
    }

    .edu-col h1 {
      padding-top: 0;
    }

    .edu-col p {
      padding: 15px 0 25px;
    }

  </style>
</body>

<section class="education">

  <div class="row">
    <div class="edu-col">
      <img style="height: 330px;  width: 90%;"  src="../../assets/consultation.jpeg">
    </div>
    <div class="edu-col">
      <h1>BOOK AN APPOINTMENT &amp; CONSULTATION</h1>
      <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour,
        or randomised words which don't look even slightly believable.
        If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary.
      </p>
      <!----masuk direct aini--->
      <a class="more-btn" [routerLink]='["/authentication/login"]'>SUBSCRIBE WITH US NOW</a>
    </div>
  </div>

</section>
