<!------------enlightmentpage------------>

<section class="education">
  <div class="row">
    <div class="edu-col" >
      <h1>Shariah Compliant</h1>
      <p> Sharia is Islamic law and regulation that regulates all parts of human life, both Muslim and non-Muslim. In addition to containing laws and regulations, Islamic Sharia also contains solutions to all of life's problems. Sharia in terms can be interpreted as a system or rule that can regulate the relationship between man and God, or the relationship between man and man.
      </p>
      <a class="more-btn" [routerLink]='["/information"]'>Read more</a>
    </div>
    <div class="edu-col" >
      <img style="height: 330px;  width: 80%;"  src="assets/shariah3.jpg">
    </div>
  </div>

  <div class="row">
    <div class="edu-col">
      <img style="height: 330px;  width: 90%;"  src="assets/skintone4.jpg">
    </div>
    <div class="edu-col">
      <h1>Skin Tone And Sizing</h1>
      <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour,
        or randomised words which don't look even slightly believable.
        If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary.
      </p>
      <a class="more-btn" [routerLink]='["/information"]'>Read more</a>
    </div>
  </div>

  <div class="row">
    <div class="edu-col">
      <h1>Fast Fashion</h1>
      <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour,
        or randomised words which don't look even slightly believable.
        If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary.
      </p>
      <a class="more-btn" [routerLink]='["/information"]'>Read more</a>
    </div>
    <div class="edu-col">
      <img style="height: 330px;  width: 80%;"  src="assets/fastfashion.jpg">
    </div>
  </div>
</section>
