<section class="fstyle">
  <h1>BAJU KURUNG</h1>
  <div class="row">
    <div class="fstyle-col">
      <img src="../../assets/kurung1.JPG"><br><br>
      <br><strong><p>Visit Petikita.com for more</p></strong>
      <a href="https://www.petikitaa.com" class="more-btn">VIEW MORE ITEMS</a>
    </div>

    <div class="fstyle-col">
      <img src="../../assets/kurung10.png"><br><br>
      <br><strong><p>Visit Petikita.com for more</p></strong>
      <a href="https://www.petikitaa.com" class="more-btn">VIEW MORE ITEMS</a>
    </div>

    <div class="fstyle-col">
      <img src="../../assets/kurung3.JPG"><br><br>
      <br><strong><p>Visit Petikita.com for more</p></strong>
      <a href="https://www.petikitaa.com" class="more-btn">VIEW MORE ITEMS</a>
    </div>
  </div>

  <div class="row">
    <div class="fstyle-col">
      <img src="../../assets/kurung4.JPG"><br><br>
      <br><strong><p>Visit Petikita.com for more</p></strong>
      <a href="https://www.petikitaa.com" class="more-btn">VIEW MORE ITEMS</a>
    </div>

    <div class="fstyle-col">
      <img src="../../assets/kurung5.JPG"><br><br>
      <br><strong><p>Visit Petikita.com for more</p></strong>
      <a href="https://www.petikitaa.com" class="more-btn">VIEW MORE ITEMS</a>
    </div>

    <div class="fstyle-col">
      <img src="../../assets/kurung6.JPG"><br><br>
      <br><strong><p>Visit Petikita.com for more</p></strong>
      <a href="https://www.petikitaa.com" class="more-btn">VIEW MORE ITEMS</a>
    </div>
  </div>

  <div class="row">
    <div class="fstyle-col">
      <img src="../../assets/kurung7.JPG"><br><br>
      <br><strong><p>Visit Petikita.com for more</p></strong>
      <a href="https://www.petikitaa.com" class="more-btn">VIEW MORE ITEMS</a>
    </div>

    <div class="fstyle-col">
      <img src="../../assets/kurung8.JPG"><br><br>
      <br><strong><p>Visit Petikita.com for more</p></strong>
      <a href="https://www.petikitaa.com" class="more-btn">VIEW MORE ITEMS</a>
    </div>

    <div class="fstyle-col">
      <img src="../../assets/kurung9.JPG"><br><br>
      <br><strong><p>Visit Petikita.com for more</p></strong>
      <a href="https://www.petikitaa.com" class="more-btn">VIEW MORE ITEMS</a>
    </div>
  </div>

  <a class="more-btn" [routerLink]="['/lifestyle']">BACK TO LIFESTYLE</a>
  <br><br><br><br>
</section>
