<section class="fstyle">
  <h1>DRESS</h1>
  <div class="row">
    <div class="fstyle-col">
      <img src="../../assets/dress1.JPG">
      <br><strong><p>Visit Petikita.com for more</p></strong>
      <a href="https://www.petikitaa.com/collections/dress-kaftan-abaya" class="more-btn">VIEW MORE ITEMS</a>
    </div>

    <div class="fstyle-col">
      <img src="../../assets//dress2.JPG">
      <br><strong><p>Visit Petikita.com for more</p></strong>
      <a href="https://www.petikitaa.com/collections/dress-kaftan-abaya" class="more-btn">VIEW MORE ITEMS</a>
    </div>

    <div class="fstyle-col">
      <img src="../../assets//dress3.JPG">
      <br><strong><p>Visit Petikita.com for more</p></strong>
      <a href="https://www.petikitaa.com/collections/dress-kaftan-abaya" class="more-btn">VIEW MORE ITEMS</a>
    </div>
  </div>

  <div class="row">
    <div class="fstyle-col">
      <img src="../../assets//dress4.JPG">
      <br><strong><p>Visit Petikita.com for more</p></strong>
      <a href="https://www.petikitaa.com/collections/dress-kaftan-abaya" class="more-btn">VIEW MORE ITEMS</a>
    </div>

    <div class="fstyle-col">
      <img src="../../assets//dress5.JPG">
      <br><strong><p>Visit Petikita.com for more</p></strong>
      <a href="https://www.petikitaa.com/collections/dress-kaftan-abaya" class="more-btn">VIEW MORE ITEMS</a>
    </div>

    <div class="fstyle-col">
      <img src="../../assets//dress7.JPG">
      <br><strong><p>Visit Petikita.com for more</p></strong>
      <a href="https://www.petikitaa.com/collections/dress-kaftan-abaya" class="more-btn">VIEW MORE ITEMS</a>
    </div>
  </div>

  <div class="row">
    <div class="fstyle-col">
      <img src="../../assets//dress8.JPG">
      <br><strong><p>Visit Petikita.com for more</p></strong>
      <a href="https://www.petikitaa.com/collections/dress-kaftan-abaya" class="more-btn">VIEW MORE ITEMS</a>
    </div>

    <div class="fstyle-col">
      <img src="../../assets//dress9.JPG">
      <br><strong><p>Visit Petikita.com for more</p></strong>
      <a href="#" class="more-btn">VIEW MORE ITEMS</a>
    </div>

    <div class="fstyle-col">
      <img src="../../assets//dress10.png">
      <br><strong><p>Visit Petikita.com for more</p></strong>
      <a href="#" class="more-btn">VIEW MORE ITEMS</a>
    </div>
  </div>

  <a class="more-btn"  [routerLink]="['/lifestyle']">BACK TO LIFESTYLE</a>
  <br><br><br><br>
</section>
